version: "3.9"

services: 
   postgres:
      image: postgres:16
      container_name: student-postgres
      environment:
        POSTGRES_DB: studentdb
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      ports:
        - "5433:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
   app:
     image: student-app
     container_name: student-app
     ports:
        - "8080:8080"
     depends_on:
        - postgres
     environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/studentdb
        SPRING_DATASOURCE_USERNAME: postgres
        SPRING_DATASOURCE_PASSWORD: postgres

volumes: 
  pgdata:
